header h1{
    color: blue;
}


#layout{
    height: 100px;
    background-color: aqua;
}

.article-noticias{
    background-color: black;
    color: aquamarine;
}

a [href="#layout"]{
    color: bisque;
}



